.outer-box{
    background-color: yellow;
    width: 600px;
    height: 1700px;
    border: 2px solid red;
}
.img1 {
    width: 450px;
    height: 300px;
    background-image: url(../images/popular-dogs-hero-1.jpg);
    margin: 20px auto;
}
.img2{
    width: 450px;
    height: 300px;
    margin: 20px auto;
    background-image: url(../images/popular-dogs-hero-1.jpg);
    background-size: 100px 100px;
    
}
.img3{
    width: 450px;
    height: 300px;
    margin: 20px auto;
    background-image: url(../images/popular-dogs-hero-1.jpg);
    background-color: aqua;
        background-size: 100px 100px;
    background-repeat: no-repeat;
    background-position: right;
}
.img4 {
    margin: 20px auto;
    display: block;
    width: 450px;
    height: 300px;
}

.img5 {
    background-color: aqua;
    margin: 20px auto;
    width: 450px;
    height: 350px;
    display: block;
    object-fit: contain;
    object-position: bottom;
    
}